@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

body {
  background: #222;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
