@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #222;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
